* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    padding: 15px;
    min-height: 100%;
}

.text {
    background: cornflowerblue;
    width: 100%;
    padding: 15px;
}

.site-header {
    margin: 50px auto 25px auto; /* [top, right, bottom, left] */

}

.wrapper {
    width: 970px;
    margin: 0 auto;
    height: auto;
}

.wrapper:after {
    content: '';
    clear: both;
    display: table;
}

.wrapper .content {
    width: 75%;
    height: auto;
    float: left;
    padding: 10px;
}

.wrapper .content .box {
    margin-bottom: 30px;
    font-size: 0.875em;

}

.box h2 {
    margin-bottom: 15px;
    text-align: center;
}

.sidebar-wrapper {
    float: right;
    width: 25%;
    height: 100vh;
}

.sidebar {
    padding: 15px;
    background: lightsteelblue;
    margin-bottom: 20px;

}

.link-list li {
    list-style-type: none;
}

.link-list a {
    color: #FFFFFF;
    text-decoration: none;
}

.link-list a:hover {
    font-weight: 700;
}

.sidebar.new {
    background: darkslategrey;
}

.sidebar.new .new {
    color: crimson;
}

.sidebar.new .new {
    color: lightsteelblue;
}

.sidebar.new #badge {
    color: #000;
}

.sidebar.new .new {
    color: aqua;
}

h3.new {
    color: crimson !important
}

footer {
    background-color: cornflowerblue;
    padding: 15px;
    text-align: center;
}

/* znacznik < class < id */